---
name: seaweedfs

releases:
  - name: seaweedfs
    version: latest

stemcells:
  - alias: default
    os: ubuntu-jammy
    version: latest

update:
  canaries: 1
  max_in_flight: 1
  canary_watch_time: 1000-60000
  update_watch_time: 1000-60000

instance_groups:
  - name: seaweedfs-master
    instances: 1
    azs: [z1]
    vm_type: default
    stemcell: default
    persistent_disk_type: default
    networks:
      - name: default
    jobs:
      - name: seaweedfs-master
        release: seaweedfs
        properties:
          seaweedfs:
            master:
              port: 9333
              default_replication: "000"
              volume_size_limit_mb: 30000
          tls:
            ca: ((seaweedfs-ca.certificate))
            certificate: ((seaweedfs-master-tls.certificate))
            private_key: ((seaweedfs-master-tls.private_key))

  - name: seaweedfs-volume
    instances: 3
    azs: [z1, z2, z3]
    vm_type: default
    stemcell: default
    persistent_disk_type: large
    networks:
      - name: default
    jobs:
      - name: seaweedfs-volume
        release: seaweedfs
        properties:
          seaweedfs:
            volume:
              master: "((seaweedfs_master_address)):9333"
              max_volumes: 100
          tls:
            ca: ((seaweedfs-ca.certificate))
            certificate: ((seaweedfs-volume-tls.certificate))
            private_key: ((seaweedfs-volume-tls.private_key))

  - name: seaweedfs-filer
    instances: 1
    azs: [z1]
    vm_type: default
    stemcell: default
    persistent_disk_type: default
    networks:
      - name: default
    jobs:
      - name: seaweedfs-filer
        release: seaweedfs
        properties:
          seaweedfs:
            filer:
              master: "((seaweedfs_master_address)):9333"
          tls:
            ca: ((seaweedfs-ca.certificate))
            certificate: ((seaweedfs-filer-tls.certificate))
            private_key: ((seaweedfs-filer-tls.private_key))

  - name: seaweedfs-s3
    instances: 1
    azs: [z1]
    vm_type: default
    stemcell: default
    networks:
      - name: default
    jobs:
      - name: seaweedfs-s3
        release: seaweedfs
        properties:
          seaweedfs:
            s3:
              filer: "((seaweedfs_filer_address)):8888"
          tls:
            ca: ((seaweedfs-ca.certificate))
            certificate: ((seaweedfs-s3-tls.certificate))
            private_key: ((seaweedfs-s3-tls.private_key))

variables:
  - name: seaweedfs_master_address
    type: value
  - name: seaweedfs_filer_address
    type: value
  - name: seaweedfs-ca
    type: certificate
    options:
      is_ca: true
      common_name: SeaweedFS CA
  - name: seaweedfs-master-tls
    type: certificate
    options:
      ca: seaweedfs-ca
      common_name: seaweedfs-master
      alternative_names:
        - "*.seaweedfs-master.default.seaweedfs.bosh"
        - "seaweedfs-master.default.seaweedfs.bosh"
      extended_key_usage:
        - server_auth
        - client_auth
  - name: seaweedfs-volume-tls
    type: certificate
    options:
      ca: seaweedfs-ca
      common_name: seaweedfs-volume
      alternative_names:
        - "*.seaweedfs-volume.default.seaweedfs.bosh"
        - "seaweedfs-volume.default.seaweedfs.bosh"
      extended_key_usage:
        - server_auth
        - client_auth
  - name: seaweedfs-filer-tls
    type: certificate
    options:
      ca: seaweedfs-ca
      common_name: seaweedfs-filer
      alternative_names:
        - "*.seaweedfs-filer.default.seaweedfs.bosh"
        - "seaweedfs-filer.default.seaweedfs.bosh"
      extended_key_usage:
        - server_auth
        - client_auth
  - name: seaweedfs-s3-tls
    type: certificate
    options:
      ca: seaweedfs-ca
      common_name: seaweedfs-s3
      alternative_names:
        - "*.seaweedfs-s3.default.seaweedfs.bosh"
        - "seaweedfs-s3.default.seaweedfs.bosh"
      extended_key_usage:
        - server_auth
        - client_auth
